@{ 
    Layout = null;
}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link href="~/Content/MyAccount/Store/myStore.css" rel="stylesheet" />
</head>


<body>
    <div class="container">
        <br /><br />
        <div class="row">
            <a href="/Product/Create" class="text-right yeniUrun">Yeni Ürün Ekle</a>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid9">
                    <div class="product-image9">
                        <a href="#">
                            <img class="pic-1" src="~/Content/MyAccount/Store/Images/ayvareceli.jpeg" />
                            <img class="pic-2" src="~/Content/MyAccount/Store/Images/cilekreceli.jpg" />
                        </a>
                        <a href="#" class="fa fa-search product-full-view"></a>
                    </div>
                    <div class="product-content">
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <h3 class="title"><a href="#">Women's Top</a></h3>
                        <div class="price"> $12.60 - $40.53</div>
                        <a class="add-to-cart" href="">VIEW PRODUCTS</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid9">
                    <div class="product-image9">
                        <a href="#">
                            <img class="pic-1" src="~/Content/MyAccount/Store/Images/elmareceli.jpg" />
                            <img class="pic-2" src="~/Content/MyAccount/Store/Images/genel3.jpg" />
                        </a>
                        <a href="#" class="fa fa-search product-full-view"></a>
                    </div>
                    <div class="product-content">
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star disable"></li>
                            <li class="fa fa-star disable"></li>
                        </ul>
                        <h3 class="title"><a href="#">Men's Shirt</a></h3>
                        <div class="price"> $10.20 </div>
                        <a class="add-to-cart" href="">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid9">
                    <div class="product-image9">
                        <a href="#">
                            <img class="pic-1" src="~/Content/MyAccount/Store/Images/fasulye.jpg" />
                            <img class="pic-2" src="~/Content/MyAccount/Store/Images/domates.jpg" />
                        </a>
                        <a href="#" class="fa fa-search product-full-view"></a>
                    </div>
                    <div class="product-content">
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <h3 class="title"><a href="#">Women's Top</a></h3>
                        <div class="price"> $12.60 - $40.53</div>
                        <a class="add-to-cart" href="">VIEW PRODUCTS</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid9">
                    <div class="product-image9">
                        <a href="#">
                            <img class="pic-1" src="~/Content/MyAccount/Store/Images/genel5.jpg" />
                            <img class="pic-2" src="~/Content/MyAccount/Store/Images/genel6.jpg" />
                        </a>
                        <a href="#" class="fa fa-search product-full-view"></a>
                    </div>
                    <div class="product-content">
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <h3 class="title"><a href="#">Women's Top</a></h3>
                        <div class="price"> $12.60 - $40.53</div>
                        <a class="add-to-cart" href="">VIEW PRODUCTS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>